apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: "{{postgres['ns']}}"

data:
  PGPASSWORD: "{{postgres['password']}}"
  POSTGRES_PASSWORD: "{{postgres['password']}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: "{{ns}}"

data:
  PGPASSWORD: "{{postgres['password']}}"
  POSTGRES_PASSWORD: "{{postgres['password']}}"