apiVersion: v1
kind: Secret
metadata:
  name: prometheus-secret
  namespace: "{{prometheus['ns']}}"

data:
  username: "{{prometheus['grafanaUsername']}}"
  password: "{{prometheus['grafanaPassword']}}"

