apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-prometheus
  namespace: {{prometheus.ns}}
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: "( Host(`{{domain}}`) && (PathPrefix(`{{prometheus['prefix']}}`) ))"
      services:
      - name: prometheus-grafana
        port: 80
        namespace: {{prometheus.ns}}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-prometheus-tls
  namespace: {{prometheus.ns}}
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: "( Host(`{{domain}}`) && (PathPrefix(`{{prometheus['prefix']}}`) ))"
      services:
        - name: prometheus-grafana
          port: 80
          namespace: {{prometheus.ns}}
  tls:
    certResolver: le