podDisruptionBudget:
  enabled: true
  minAvailable: 1
rollingUpdate:
  maxUnavailable: 0
additionalArguments:
  - "--certificatesresolvers.le.acme.email=cptmutchell@gmail.com"
  - "--certificatesresolvers.le.acme.storage=/data/acme.json"
  - "--certificatesresolvers.le.acme.caserver=https://acme-v02.api.letsencrypt.org/directory"

  - "--certificatesresolvers.le.acme.tlschallenge=true"

  #https://acme-v02.api.letsencrypt.org/directory
persistence:
  enabled: false
  name: data
  accessMode: ReadWriteOnce
  size: 128Mi
  storageClass: ""
  path: /data
  annotations: {}
ports:
  traefik:
    expose: false
    exposedPort: 9000
    port: 9000
    protocol: TCP
  web:
    expose: true
    exposedPort: 80
    port: 8000
    protocol: TCP
  websecure:
    expose: true
    exposedPort: 443
    port: 8443
    protocol: TCP
    tls:
      certResolver: le
      enabled: true
      domains:
        - main: cptmutchell.xyz
          sans:
            - cbr.cptmutchell.xyz


globalArguments: [] # Disable anonymous stat

pilot:
  dashboard: true
ingressRoute:
  dashboard:
    enabled: true



ingressClass:
  enabled: true
  isDefaultClass: true
logs:
  general:
    level: DEBUG
